html {
    scroll-behavior: smooth;
}

.title {
    text-align: center;
    font-size: 40px;
    margin-top: 10pc;
    margin-bottom: 5pc;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

    .title a {
        margin-top: 4pc;
        margin-bottom: 10pc;
    }

.image {
    display: block;
    margin: auto;
}

p {
    text-align: left;
    margin-top: 20px;
    margin-left: 10pc;
    margin-right: 10pc;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);

}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to right, rgb(39, 39, 39), rgb(51, 50, 50));
}

.navigation  {
    padding: 10px;
}
    .navigation a {
        font-size: 25px;
        font-family: Arial, Helvetica, sans-serif;
        color: rgb(255, 255, 255);
        padding: 15px;
    }

.SQL-Question {
    margin-top: 5pc;
}

    .SQL-Question li {
        padding: 5px;
        font-size: 20px;
        margin-left: 12pc;
        margin-right: 12pc;
    }

.sub-title a {
    font-size: 35px;
    margin-left: 10pc;
    margin-top: 15pc;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

a.link {
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    display: inline;
    margin: 0 ;
    padding: 0 
}

iframe {
    display: block;
    margin: auto;
    width: 1450px;
    height: 850px;
    margin-bottom: 5pc;
}

code {
    font-size: 17px;
}